---
layout: base
---

<header class="section | spot-color-dark">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="font-black">
        Booking <span class="text-primary-glare">anti-racist</span> and <span class="text-secondary-glare">anti-fascist</span> punk rock bands in Reno, and sometimes beyond.
      </h1>
    </div>
  </div>
  <!-- <div class="divider"></div> -->
  {% include "svg/divider-edgy.svg" %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %}
  </div>
  <!-- TODO: duplicate of partials/blog.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
  	{% if collections.events %}
    {% set eventslist = collections.events %} {% for event in eventslist.slice(0, 2) %}
    <!--  -->
    {% include "partials/blog-card.njk" %}
    <!--  -->

    <!-- <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ event.url | url }}">{{ event.data.title }}</a>
      </h3>
      <span class="text-primary-glare"
        >{% set definedDate = event.date %} {% include "partials/date.njk" %}</span
      >
      <p>{{ event.data.description }}</p>
      {% if event.data.tickets %}<a class="button block" href="{{ event.data.tickets }}"
        >Tickets</a
      >{% endif %}
    </li>
 -->
    {% endfor %}
  </ul>
  <a class="button block mx-auto" href="/events/">View All Events</a>
  {% endif %}
</article>
