<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class=" relative bg-dark text-light" role="banner">
  <div class="site-head | wrapper | ontop">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline text-step-0" {% if activePage === '/' %} aria-current="page" {% endif %}>
      <img src="/assets/images/logo.jpeg" alt="Trash Panda site logo showing a racoon's face behind a trash can and a pair of crossed bones" width="45px" height="45px" style="mix-blend-mode: exclusion;" class="max-md:hidden"/>
      <img src="/assets/images/E6AA68.png" alt="" height="28px" />
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
